<html>
<head>
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/dropzone.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <!--   -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/dropzone.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
    <body>
        <header class="header">
            <div class="container header__inner">
                <a class="logo" href="/index.html">TRICORDER
                   <!--  <img src="/assets/img/logo.svg" alt=""> -->
                </a>

                <nav class="links">
                    
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vRO4mihwhxwrUhY3Ft5GfjdjpecnrbPmx3CE_xACnMWqdVjnSAK5m5eiNZtWMGc0SoldWR1a0-YE0Go/pub?start=false&loop=false&delayms=3000&slide=id.g28b1a709d5_0_0">Arch</a>
                    <a href="https://github.com/minio/minio-lambda-notification-example">Source</a>
                </nav>
            </div>
        </header>
        <div class="container">
                <div class="content">
                    <form class="dropzone"></form>
    
                    <input class="json-text" type="hidden" value='' id="term">
    
    
                    <div class="text">
                        <textarea class="text__input"></textarea>
    
                        <div class="actions">
                            <a class="text__clear" href=""><i class="zmdi zmdi-close-circle-o"></i> <span>Clear</span></a>
                            <a class="text__debug" href=""><i class="zmdi zmdi-bug"></i> <span>Debug</span></a>
                        </div>
                    </div>
    
                    <div class="debug">
                        <textarea class="debug__input"></textarea>
    
                        <div class="actions">
                            <a class="debug__close" href=""><i class="zmdi zmdi-close"></i> <span>Close</span></a>
                        </div>
                    </div>
                </div>
                <div class="data-table">
                    <input class="data-table__search"  id="search-inp" type="text" placeholder="Search...">

                    <table id="minio-data" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>MetaData</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

        <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/dropzone.js"></script>
        <script src="/assets/js/autosize.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="/assets/js/functions.js"></script>
        
    </body>
</html>
